* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
li,
p {
    list-style-type: none;
}

body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Signika', sans-serif;
}

.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

}

.logo {
    width: 65px;
    border-radius: 15px;
    height: 55px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 50px;
    text-align: center;

}

.menu a {
    background-color: #5f7ab1;
    display: flex;
    border-radius: 15px;
    width: 130px;
    height: 30px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #364a70;
}

.item {
    background-color: #5c6c8d;
    color: #fff;
    margin: 20px;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.item img {
    width: 310px;
    height: 180px;
    border-radius: 15px;
    display: flex;
}

.item::before {
    content: "Clique aqui para ver as curiosidades";
    width: 310px;
    height: 180px;
    display: block;
    background-color: #0008;
    position: absolute;
    display: grid;
    place-content: center;
    font-weight: 500;
    transform: translateY(140%);
    transition: transform .5s;
    border-radius: 15px;
    text-align: center;
}

.item:hover::before {
    transform: translateY(0%);
}

h4 {
    justify-content: center;
    display: flex;
    margin: 10px;
}